{% extends "client/base.twig" %}
{% block content %}
    <div class="row" ng-controller="rssCtrl" style="width: 50%; margin: auto">
        <h1>Rss Converter</h1>
        <form action="/convert" method="post">
            <div ng-repeat="rss in rssAry">
                <p style="margin: 10px 0px">
                    <input type="text" ng-model="rss.text" id="comment-form" name="url[]" tpe="text"
                           class="form-control"
                           required>
                </p>
                <input type='button' class="btn btn-primary" ng-if="$last" ng-click='addRss($index)' value='追加'/>
                <input type='button' class="btn btn-danger" ng-if="!$last" ng-click='delRss($index)' value='削除'/>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="show_date">show date</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" name="only_title">only title</label>
            </div>
            <div class="text-right">
                <input type="submit" class="btn btn-primary" value="Convert">
            </div>
        </form>
    </div>
    <script>
        var app = angular.module('myApp', []);
        app.controller('rssCtrl', function ($scope) {
            initSize = 1;
            $scope.rssAry = new Array();
            for (var i = 0; i < initSize; i++) {
                $scope.rssAry[i] = {};
            }

            $scope.addRss = function (idx) {
                $scope.rssAry[idx + 1] = {};
            };
            $scope.delRss = function (idx) {
                $scope.rssAry.splice(idx, 1);
            };
        });
    </script>
{% endblock %}
